@model IEnumerable<Marshall.Web.UI.Models.Environment.ApplicationPoolViewModel>


<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            ServiceAccount
        </th>
        <th>
            Password
        </th>
    </tr>


@foreach (var item in Model)
{
    var passwordDivName = "applicationPoolPassword_" + item.Name;
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceAccount)
        </td>
        <td>
            <a href="#" id="button" onclick="$('#@passwordDivName').toggle({effect:'fade'});">Show</a><br/>
            <div id="@passwordDivName">@Html.DisplayFor(modelItem => item.Password)</div>
            <script>$('#@passwordDivName').toggle();</script>
        </td>


    </tr>
   
}

</table>
