@model IEnumerable<Marshall.Web.UI.Models.Environment.DatabaseConfigurationViewModel>


<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Server
        </th>
        <th>
            Database
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Server)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Database)
        </td>
    </tr>
}

</table>
